# compiled code
*.py[cod]
*.swp
*.log
*.rpm
*.rpmmacros
MANIFEST
*.sqlite
*.so

# distribution
*.egg
*.egg-info
dist/
build/
.venv/
eggs/
.eggs/
parts/
bin/
var/
sdist/
develop-eggs/
.installed.cfg
lib64/
virtualenv/

# installer logs
pip-log.txt

# unit test/coverage reports
.coverage
cover
coverage*.xml
.tox
nosetests.xml

# os
.idea
.DS_Store
._*

# ides
.project
.pydevproject
.settings
.metadata
